@model Bumbo.Domain.Models.Remuneration

@{
    ViewData["Title"] = "Uren bewerken";
}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-white">Uren bewerken</h1>
    </div>

    <div class="d-flex mt-4 mb-3">
        <div class="shadow d-flex flex-column border w-60 p-3 bg-white rounded">
            <div class="row">
                <div class="col-md-11">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="RenumerationId" />
                        <div class="form-group">
                            <label class="control-label mb-2">Medewerker</label>
                            @{string fullname = Model.Employee.FirstName + " " + Model.Employee.LastName;}
                            <input value="@fullname" asp-for="Employee" class="form-control mb-2" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Date" class="control-label mb-2"></label>
                            <input asp-for="Date" class="form-control mb-2" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Hours" class="control-label mb-2"></label>
                            <input asp-for="Hours" class="form-control mb-2" type="time"/>
                            <span asp-validation-for="Hours" class="text-danger" disabled></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SurtaxRate" class="control-label mb-2"></label>
                            <input value="@Model.SurtaxRate%" asp-for="SurtaxRate" class="form-control mb-2" disabled />
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label mb-2">
                                <input class="form-check-input" asp-for="IsApproved" disabled/> Goedgekeurd
                            </label>
                        </div>
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary">Terug</a>
                            <input type="submit" value="Opslaan" class="btn btn-dark" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>