.btn-outline-bumbo {
    color: #000000 !important;
    background-color: #f5c105 !important;
    border: none !important;
    outline: none !important;
}

.login-page-col-2-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.field-icon {
    float: right;
    margin-right: 15px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}